/*
@font-face {
	font-family: pnr;
    src: url('../fonts/f.eot');
    src: url('../fonts/f.eot?#iefix') format('embedded-opentype'),
    url('../fonts/f.woff') format('woff'),
    url('../fonts/f.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }
*/


@font-face {
	font-family: os;
    src: url('../fonts/OpenSans-Regular.ttf');
 }
@font-face {
	font-family: oseb;
    src: url('../fonts/OpenSans-ExtraBold.ttf');
 }
@font-face {
	font-family: osb;
    src: url('../fonts/OpenSans-Bold.ttf');
 }